body {
  color: #F64F9E;
  font-family: "Roboto";
}

a {
  color: #6e46b9;
}

@media only screen and (max-width: 768px) {
  body {
    margin-bottom: 15%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin: 5% 20%;
  }
}
